@import "../../../../styles/_variables.scss";
.Support {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: $footerTextColor;
  width: max-content;
  @media screen and (min-width: $desktop) {
    gap: 32px;
  }
}
