@import '../../../styles/variables';

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    column-gap: 16px;
  }
}

.pageItem {
  display: flex;
  align-items: center;
}

.dotList {
  display: flex;
  align-items: center;
  // column-gap: 16px;
  column-gap: 8px;
  @media screen and (min-width: $tablet) {
    column-gap: 16px;
  }
}

.pageLinkDot {
  min-width: 8px;
  height: 8px;
  background-color: #c7c7c7;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  // display: flex;
  // align-items: center;
  // column-gap: 16px;
  @media screen and (min-width: $tablet) {
    min-width: 12px;
    height: 12px;
  }
}

.active {
  min-width: 12px;
  height: 12px;
  background-color: #7d7d7d;
  @media screen and (min-width: $tablet) {
    min-width: 16px;
    height: 16px;
  }
}

.pageLinkItem {
  outline: none;
  max-width: 6px;
  height: 6px;
  @media screen and (min-width: $tablet) {
    max-width: 10px;
    height: 10px;
  }
}

.pageDot {
  visibility: hidden;
}

.pageLink {
  display: flex;
  align-items: center;
  height: 15px;
  outline: none;
}

.svgArrow {
  position: relative;
  width: 52px;
  height: 1px;
  background-color: $acentColor;
  @media screen and (min-width: $tablet) {
    width: 124px;
  }
}

.arrowLeft {
  margin-right: 44px;
  // margin-right: 55px;
  &::after {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    border: solid $acentColor;
    border-width: 1px 0 0 1px;
    display: block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  @media screen and (min-width: $tablet) {
    margin-right: 152px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 100px;
  }
}

.arrowRight {
  margin-left: 44px;
  // margin-left: 55px;
  &::after {
    content: '';
    position: absolute;
    top: -3px;
    right: 0;
    border: solid $acentColor;
    border-width: 1px 0 0 1px;
    display: block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  @media screen and (min-width: $tablet) {
    margin-left: 152px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 100px;
  }
}
