@import "../../../styles/_variables.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  // background-color: darkgrey;
  padding: 24px 16px 8px;
  // @media screen and (min-width: $tablet) {
  //   display: none;
  // }
}

.footerLogo {
  color: $footerLogoColor;
  position: static;
}

.contactsWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.location {
  display: flex;
  align-items: center;
  gap: 12px;
  color: $footerLocationColor;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  & svg {
    fill: transparent;
    stroke: $footerLocationColor;
    width: 16px;
    height: 16px;
  }
}

.phoneNumbers {
  color: $footerLocationColor;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.linksWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 24px;
}

// .email {
//   color: #181818;
//   font-family: inherit;
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: normal;
// }

// .webevery {
//   width: 100vw;
//   text-align: center;
//   padding: 8px;
//   border-top: 1px solid rgb(84, 84, 84, 0.14);
// }
.rights {
    color: $footerTextColor;
    font-family: inherit;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: -20px;
}