@import "../../../styles/_variables.scss";

.container {
    display: flex;
    flex-direction: column;
    background-color: deeppink;
}

.apartments {
    flex: 1;
}

.apartment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    margin: 20px 0px;
    padding: 10px;
    background-color: #8c878fd6;
    border-radius: 5px;
    border: 1px solid navy;
}

.imgContainer {
    width: 300px;
    height: 150px;
    position: relative;
}

.img {
    object-fit: cover;
}

.imgsWrapper {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.imgsCont {
    width: 200px;
    height: 100px;
    position: relative;
}

.infoWrapper {
    padding: 0 10px;
}

.delete {
    cursor: pointer;
    color: red;
}

.new {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input,
.textarea {
    padding: 10px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 3px;
    color: #bbb;
    font-size: 20px;
    font-weight: bold;
}

fieldset.side {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

fieldset.carBody {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}

.carBody input {
    margin-right: 10px;
}

.sendBtn {
    padding: 5px;
    border: none;
    background-color: #53c28b;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}