@import "../../../styles/_variables.scss";

.container {

    display: none;

    @media screen and (min-width: $tablet) {
        display: flex;
        gap: 50px;
        padding: 40px 20px 20px;
        width: 100%;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        gap: 100px;
        padding: 80px 40px 40px;
        width: 100%;
    }
}

.apartments {
    flex: 1;
    width: 50vw;
}

.apartment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin: 20px 0px;
    padding: 10px;
    background-color: #8c878fd6;
    border-radius: 5px;
    border: 1px solid navy;
}

.imgContainer {
    width: 300px;
    height: 150px;
    position: relative;
}

.img {
    object-fit: cover;
}

.imgsWrapper {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.imgsCont {
    width: 200px;
    height: 100px;
    position: relative;
}

.address {
    display: block;
    width: 40vw;
    overflow: hidden;
    white-space: nowrap;
}

.location {
    display: block;
    width: 40vw;
    overflow: hidden;
    white-space: nowrap;
}

.platformLink {
    display: block;
    width: 40vw;
    overflow: hidden;
    white-space: nowrap;
}

.description {
    width: 40vw;
    overflow: hidden;
}

.btnsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.delete {
    cursor: pointer;
    color: red;
}

.new {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: min-content;
}

.input,
.textarea {
    padding: 10px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 3px;
    color: #bbb;
    font-size: 20px;
    font-weight: bold;
}

fieldset.top {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}

.top input {
    margin-right: 10px;
}

fieldset.roomsQuantity {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

fieldset.amenities {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.amenities input {
    margin-right: 10px;
}

.sendBtn {
    padding: 5px;
    border: none;
    background-color: #53c28b;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}