@import "../../styles/_variables.scss";

.socialLinks {
  display: flex;
  gap: 16px;
  @media screen and (min-width: $tablet) {
    & img {
      // width: 32px;
      // height: 32px;
      width: clamp(1.5rem, 0.929rem + 1.19vw, 2rem);
      height: clamp(1.5rem, 0.929rem + 1.19vw, 2rem);
    }
  }
}
