@import "../../styles/_variables.scss";

.burgerBtn {
  width: 28px;
  height: 28px;
  border: none;
  background: none;
  margin-left: auto;
  margin-right: 0;
  z-index: 30;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    transform: rotate(360deg);
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.iconBurger {
  width: 22px;
  height: 12px;
  @media screen and (min-width: $mobile) {
    width: 40px;
    height: 24px;
  }
}

.iconClose {
  stroke: $lightFontColor;
  width: 20px;
  height: 20px;

  @media screen and (min-width: $mobile) {
    width: 32px;
    height: 32px;
  }
}
