@import "../../styles/_variables.scss";

.burgerBtn {
  // width: 28px;
  // height: 28px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  background: none;
  margin-left: auto;
  margin-right: 0;
  // z-index: 30;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;

  &:hover,
  &:focus {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  // @media screen and (min-width: $tablet) {
  //   display: none;
  // }
}

.iconBurger {
  width: 22px;
  height: 12px;

  fill: $darckFontColor;
  @media screen and (min-width: $mobile) {
    width: 40px;
    height: 24px;
  }
}

.iconClose {
  width: 20px;
  height: 20px;

  stroke: $darckFontColor;
  @media screen and (min-width: $mobile) {
    width: 32px;
    height: 32px;
  }
}
