@import '../../styles/variables';

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 16px 40px 16px;
  @media screen and (min-width: $tablet) {
    padding: 108px 32px 48px 32px;
  }
  @media screen and (min-width: $desktop) {
    padding: 186px 86px 48px 86px;
  }
}

.backContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  -webkit-column-gap: 13px;
  -moz-column-gap: 13px;
  column-gap: 13px;
  margin-bottom: 12px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 37px;
  }
}

.apartContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
  gap: clamp(32px, 10vw, 40px);
  max-width: 540px;

  @media screen and (orientation: landscape) and (max-width: 767px) {
    gap: 12px;
    max-width: 100%;
  }

  @media screen and (min-width: $tablet) {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 1920px;
  }

  @media screen and (orientation: 'landscape') {
    flex-direction: row;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 100%;
  justify-content: space-between;
  gap: 16px;

  @media screen and (orientation: 'landscape') {
    flex: 1;
    height: 375px;
    gap: initial;
  }

  @media screen and (min-width: $tablet) {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 398px;
  }
  @media screen and (min-width: 1024px) {
    height: 551px;
  }
  @media screen and (min-width: 1024px) and (orientation: portrait) {
    height: 398px;
  }

  @media screen and (min-width: $desktop) {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 656px;
  }
  @media screen and (min-width: 1500px) {
    height: 676px;
  }
  @media screen and (min-width: 1920px) {
    height: 855px;
  }
}

.orderBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 24px;
  background-color: $acentColor;
  color: #ffffff;
  font-size: 14px;
  outline: none;

  // &:focus,
  &:hover {
    color: $acentColor;
    border: 1px solid $acentColor;
    background-color: transparent;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

.textGrid {
  width: 100%;
  max-width: 540px;

  @media screen and (orientation: landscape) and (max-width: 767px) {
    max-width: 100%;
  }

  @media screen and (min-width: $tablet) {
    max-width: 1920px;
  }
}

// .textWelcome {
//   color: #3c3c3c;
//   font-family: var(--font--crimsonPro);
//   font-weight: 400;
//   line-height: 31.2px;
//   font-size: 22px;
//   color: #3c3c3c;
//   text-transform: unset;
//   margin-bottom: 32px;

//   @media screen and (min-width: $desktop) {
//     font-size: 26px;
//   }
// }

.textInfoContainer {
  color: #3c3c3c;
  font-family: var(--font--crimsonPro);
  font-size: 20px;
  font-weight: 400;
  line-height: 31.2px;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 16px;
  margin-left: 8px;

  @media screen and (min-width: $desktop) {
    font-size: 24px;
  }
}

.textInfoTitle {
  color: #3c3c3c;
  font-family: 'Crimson Text';
  font-size: 20px;
  line-height: 31.2px;
  text-align: justify;
  @media screen and (min-width: $desktop) {
    font-size: 24px;
  }
}

.textInfoRulse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 8px;
}
