@import '../../../styles/variables';

.backBtnContainer {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.backSvg {
  width: 24px;
  height: 24px;
  stroke: #636363;
  fill: none;
  &:hover {
    stroke: #cd5d12;
  }
}
