@import '../../../../styles/variables.scss';

.container {
  margin-top: 110px;
  padding: 0 16px 32px 16px;

  display: flex;
  flex: 1;
  @media screen and (min-width: $tablet) {
    margin-top: 80px;
  }
}

.oneRoomBox {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.backContainer {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.apartContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.containerOneRooms {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 40px;
  padding: 40px 0;
}

.notFoundText {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $acentColor;
  font-family: Crimson Text;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media screen and (min-width: $tablet) {
    font-size: 28px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 32px;
  }
}
