@import "../../../styles/_variables.scss";

.dropdownDark,
.dropdown {
  position: relative;
  z-index: 30;
  display: inline-block;
  color: $lightFontColor;
  margin-right: auto;
  margin-left: 0;
  // width: 64px;
  // height: 20px;
  @media screen and (min-width: $tablet) {
    margin-right: 0;
    margin-left: 20px;

    // width: 74px;
    // height: 32px;
    border-color: $darckFontColor;
    color: $darckFontColor;
  }
}

.dropBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  padding: 4px 16px;
  border-radius: 24px;
  border: 1px solid $lightFontColor;
  background-color: transparent;
  color: $lightFontColor;
  outline: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  @media screen and (min-width: $tablet) {
    padding: 8px 16px;
    column-gap: 4px;
    font-size: 12px;
    color: $darckFontColor;
    border: 1px solid $darckFontColor;
  }
  &:hover {
    .svg {
      rotate: 0deg;
    }
  }
}

.svg {
  stroke: $lightFontColor;
  width: 10px;
  height: 10px;
  stroke-width: 2px;
  @media screen and (min-width: $tablet) {
    stroke: $darckFontColor;
    width: 16px;
    height: 16px;
  }
}

.svgActive {
  rotate: 0deg;
}

.dropdownContent {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 64px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  row-gap: 7px;
  opacity: 0;
  @media screen and (min-width: $tablet) {
    bottom: -50px;

    width: 74px;
    height: 32px;
  }
}

.dropdownContentActive {
  opacity: 1;
}

.label {
  width: 85px;
  display: block;

  border-color: transparent;
  outline: none;
  cursor: pointer;
  color: $darckFontColor;
  font-size: 12px;
  font-weight: 500;
  padding: 0;
  transform: translateY(0em);
  &:hover {
    color: $darckFontColor;
    font-size: 14px;
  }
}

.input {
  max-width: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.dropdownDark {
  & .dropBtn {
    border: 1px solid $darckFontColor;
    color: $darckFontColor;
  }
  & .svg {
    stroke: $darckFontColor;
  }
}
