@import "../../../styles/_variables.scss";

.dropdownDark,
.dropdown {
  position: relative;
  z-index: 30;
  display: inline-block;
  color: $lightFontColor;
  margin-right: auto;
  margin-left: 0;
  scale: 0.8;
  @media screen and (min-width: $mobile) {
    scale: 1;
  }
  @media screen and (min-width: $tablet) {
    margin-right: 0;
    border-color: $darckFontColor;
    color: $darckFontColor;
  }
}
.dropdownDark {
  & .dropBtn {
    border: 1px solid $darckFontColor;
    color: $darckFontColor;
  }
  & .svg {
    stroke: $darckFontColor;
  }
  & .label {
    color: $darckFontColor;
  }
}

.dropBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  padding: 4px 16px;
  border-radius: 24px;
  border: 1px solid $lightFontColor;
  background-color: transparent;
  color: $lightFontColor;
  outline: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  @media screen and (min-width: $tablet) {
    padding: 8px 16px;
    column-gap: 4px;
    font-size: 12px;
    color: $darckFontColor;
    border: 1px solid $darckFontColor;
  }
}

.langSwitcher {
  width: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: $tablet) {
    width: 78px;
  }
}

.langIndicator {
  // margin-right: 10px;
  font-size: clamp(0.75rem, 0.179rem + 1.19vw, 1.25rem);
  // font-size: 14px;
  line-height: 18.2px;
  color: $darckFontColor;
  // @media screen and (min-width: $tablet) {
  //   font-size: 20px;
  //   line-height: 26px;
  // }
}

.langToggle {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 24px;
  height: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 10px;
  font-weight: 500;
  line-height: 12.1px;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    width: 36px;
    height: 15px;
  }

}

.ballEng{
  transform: translateX(-21px);
  @media screen and (min-width: $tablet) {
    transform: translateX(-27px);
  }
  
}

.ball {
  position: absolute;
  transition: 0.4s;
  // transition: left 0.3s ease, right 0.3s ease;
  left: 13px;
  z-index: 8;
  box-shadow: 0px 2px 8px 0px #00000029;
  // box-shadow: 0 0 0 0.015em rgba(0, 0, 0, 0.16);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffff;
  top: -3.25px;
  @media screen and (min-width: $tablet) {
    width: 24px;
    height: 24px;
    top: -4.75px;
    left: 20px;
  }
}
