@import "../../styles/_variables.scss";

.container {
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: rgba(79, 70, 65, 0.413);
  background-image: linear-gradient(
    90deg,
    black 50%,
    white 50%,

    white 100%
  );
}
