@import "../../styles/_variables.scss";

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-top: 92px;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.6)),
      to(rgba(0, 0, 0, 0.6))
    ),
    url("/webp/heroBg5.webp");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/webp/heroBg5.webp");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/webp/heroBg5.webp");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (orientation: portrait) {
    height: 50vh;
  }

  @media screen and (orientation: landscape) {
    height: 100vh;
    padding-top: 124px;
  }

  @media screen and (min-width: $desktop) {
    gap: 70px;
    padding-top: 120px;
  }
}

.heroLogo {
  font-family: var(--font--crimsonPro);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.28px;
  color: $lightFontColor;
  text-shadow: 0px 0px 4px black;

  @media screen and (min-width: $tablet) {
    font-size: 24px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 48px;
  }
}

.heroTitle {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  color: $lightFontColor;
  text-shadow: 0px 0px 4px black;
  height: 16px;

  @media screen and (min-width: $tablet) {
    font-size: 20px;
    height: 20px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 40px;
    height: 40px;
  }
}

.heroText {
  color: #b5b5b5;
  text-align: center;
  font-size: 12px;
  // font-size: clamp(0.625rem, 0rem + 1.667vw, 1.5rem);
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-shadow: 0px 0px 4px black;
  height: 28px;
  margin-top: -54px; //?
  @media screen and (min-width: 321px) {
    height: 16px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 24px;
    height: 24px;
  }
}

.heroCallBtn {
  width: 140px;
  height: 28px;
  background-color: $lightFontColor;
  color: $darckFontColor;
  font-size: 12px;

  // &:focus,
  &:hover {
    color: $lightFontColor;
    border-width: 1px;
    border-color: $lightFontColor;
    scale: 0.95;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
    height: 58px;
    border-radius: 24px;
    font-size: 20px;
  }
}
