.HomeSliderSwiper {
  height: fit-content;
  background-color: white;
  padding: 16px 0px 32px;
  width: 100%;
}

.HomeSliderSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-bottom: 30px;
}

.HomeSliderSwiper .link {
  display: inline-block;
  position: relative;
}

.HomeSliderSwiper .div {
  /* display: inline-block; */
  width: 196px;
  height: 218px;
  /* background-color: blue; */
  position: relative;
  overflow: hidden;
}

.HomeSliderSwiper .div img {
  width: auto !important;
}

.HomeSliderSwiper .slideDescr {
  position: absolute;
  bottom: 0;

  width: 110px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;
  color: white;

  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.HomeSliderSwiper .swiper-button-prev,
.HomeSliderSwiper .swiper-button-next {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 52px;
  height: 12px;
  color: transparent;
  bottom: 8px;
  top: auto;
}

.HomeSliderSwiper .swiper-button-prev::after,
.HomeSliderSwiper .swiper-button-next::after {
  width: 100%;
}

.HomeSliderSwiper .swiper-button-prev {
  background-image: url("../../../public/png/ArrowLeft.webp");
  left: 10%;
}
.HomeSliderSwiper .swiper-button-next {
  background-image: url("../../../public/png/ArrowRight.webp");
  right: 10%;
}

.HomeSliderSwiper .swiper-pagination-bullet {
  background-color: #7d7d7d;
  width: 12px;
  height: 12px;
}
.HomeSliderSwiper .swiper-pagination-bullet-active-prev,
.HomeSliderSwiper .swiper-pagination-bullet-active-next {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .HomeSliderSwiper .swiper-button-prev,
  .HomeSliderSwiper .swiper-button-next {
    height: 16px;
    width: 124px;
  }
  .HomeSliderSwiper.swiper-button-prev {
    left: 20%;
  }
  .HomeSliderSwiper .swiper-button-next {
    right: 20%;
  }
}

@media screen and (min-width: 1366px) {
  .HomeSliderSwiper .swiper-slide {
    margin-bottom: 38px;
  }

  .HomeSliderSwiper .div {
    width: 300px;
    height: 333px;
  }

  .HomeSliderSwiper .slideDescr {
    width: 169px;
    height: 24px;
    flex-shrink: 0;
    font-size: 12px;
  }

  .HomeSliderSwiper .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
  }
}
