@import "../../styles/_variables.scss";

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 16px 16px 0px;
  gap: 16px;
  margin-bottom: 16px;

  @media screen and (min-width: $tablet) {
    padding: 28px 32px 0px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 56px;
  }
}

.sliderText {
  color: #bbb;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media screen and (min-width: $tablet) {
    font-size: 24px;
  }
}

.sliderTitle {
  color: $footerTextColor;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media screen and (min-width: $tablet) {
    font-size: 32px;
  }
}

.isLoading {
  color: $footerTextColor;
  text-align: center;
  width: 100%;
  height: 296px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  @media screen and (min-width: $tablet) {
    height: 420px;
  }
}

.sliderLoader {
  width: 100%;
  height: 218px;
}
