@import '../../../styles/_variables.scss';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
  @media screen and (min-width: $tablet) {
    padding: 0px 32px;
  }
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    padding: 0px;
  }
}

.roomsContainer {
  width: 100%;
  height: 186px;
  position: relative;
  background-position: center;
  @media screen and (min-width: $tablet) {
    height: 343px;
  }
  @media screen and (min-width: 1024px) {
    height: 930px;
  }
  &:hover .img {
    filter: none;
  }
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 186px;
  @media screen and (min-width: $tablet) {
    height: 343px;
  }
  @media screen and (min-width: 1024px) {
    height: 930px;
  }
}

.img {
  filter: grayscale(0%) brightness(44%);
  object-fit: cover;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // z-index: 2;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  @media screen and (min-width: $tablet) {
    font-size: 32px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 40px;
  }
}
