@import "../../styles/_variables.scss";

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85px;
  height: 22px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  border: 0.5px solid #929292;
  background: $darckFontColor;
  color: $lightFontColor;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;

  &:focus,
  &:hover {
    background: transparent;
    border-color: $darckFontColor;
    color: $darckFontColor;
    scale: 0.96;
  }

  @media screen and (min-width: $tablet) {
    width: 128px;
    height: 34px;
    border-radius: 24px;
    border-width: 1px;
    font-size: 14px;
  }

  @media screen and (min-width: $desktop) {
    width: 288px;
    height: 53px;
    font-size: 16px;
  }
}
