@import '../../styles/variables';

.container {
  width: 270px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;

  @media screen and (min-width: $tablet) {
    width: 443px;
    -webkit-column-gap: 86px;
    -moz-column-gap: 86px;
    column-gap: 86px;
  }

  @media screen and (min-width: $desktop) {
    width: 367px;
    -webkit-column-gap: 48px;
    -moz-column-gap: 48px;
    column-gap: 48px;
  }
}

// .filterRoom {
//   display: flex;
//   align-items: center;
//   column-gap: 8px;

//   @media screen and (min-width: $tablet) {
//     column-gap: 16px;
//   }

//   @media screen and (min-width: $desktop) {
//   }
// }

// .filterRoomText {
//   color: $footerLogoColor;
//   font-family: Crimson Text;
//   font-size: 14px;
//   font-weight: 400;
// }

// .filterInputCheckbox {
//   position: relative;
//   appearance: none;
//   width: 24px;
//   height: 10px;
//   background: #d1d1d6;
//   border-radius: 50px;

//   cursor: pointer;
//   transition: 0.4s;

//   &::after {
//     position: absolute;
//     content: '';
//     top: -3px;
//     left: -3px;
//     width: 16px;
//     height: 16px;
//     background: #fff;
//     border-radius: 50%;
//     box-shadow: 0px 2px 8px 0px #00000029;
//     transition: 0.4s;
//   }
// }

// .filterInputCheckbox__Checked {
//   position: relative;
//   appearance: none;
//   width: 24px;
//   height: 10px;
//   border-radius: 50px;

//   cursor: pointer;
//   transition: 0.4s;
//   background: #373737;

//   &::after {
//     position: absolute;
//     top: -3px;
//     left: 50%;
//     content: '';
//     width: 16px;
//     height: 16px;
//     background: #fff;
//     border-radius: 50%;
//     box-shadow: 0px 2px 8px 0px #00000029;
//     transition: 0.4s;
//   }
// }
