@import '../../styles/variables';

.container {
  width: 270px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;

  @media screen and (min-width: $tablet) {
    width: 446px;
    -webkit-column-gap: 86px;
    -moz-column-gap: 86px;
    column-gap: 86px;
  }

  @media screen and (min-width: $desktop) {
    width: 370px;
    -webkit-column-gap: 48px;
    -moz-column-gap: 48px;
    column-gap: 48px;
  }
}