@import '../../styles/_variables.scss';

.oneRooms {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 24px;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 365px;
  @media screen and (min-width: $tablet) {
    height: 360px;
  }
  @media screen and (min-width: $desktop) {
    height: 333px;
  }
}

.img {
  -o-object-fit: cover;
  object-fit: cover;
}

.codeImg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 169px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: $lightFontColor;
  font-size: 13px;
  font-weight: 700;
  background-color: $acentColor;
}

.apartContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 13px;
}

.addressRooms {
  color: #6d6d6d;
  font-size: 16px;
  font-weight: 400;
  text-overflow: ellipsis;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
}

.bottomContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
}

.priceRooms {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: $acentColor;
  font-family: Crimson Text;
  font-size: 20px;
  font-weight: 400;
}

.codeRooms {
  color: $acentColor;
  font-size: 13px;
  font-weight: 400;
}

.bedContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bedImg {
  position: relative;
  width: 24px;
  height: 24px;
}

.bedsQuantity {
  color: #373737;
  font-family: 'Crimson Text';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 4px;
}

.btnRooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border-radius: 24px;
  border: 1px solid $acentColor;
  color: $acentColor;
  font-size: 14px;
  font-weight: 400;
  &:hover,
  &:focus {
    background-color: #373737;
    color: #ffffff;
  }
}
