@import '../../styles/_variables.scss';

.oneRooms {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.containerOneRooms {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 40px;
  padding: 40px 0;
}

.imgContainer {
  position: relative;
  width: 328px;
  height: 365px;
  @media screen and (min-width: $tablet) {
    width: 324px;
    height: 360px;
  }
  @media screen and (min-width: $desktop) {
    width: 300px;
    height: 333px;
  }
}

.img {
  object-fit: cover;
}

.codeImg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 169px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  background-color: #373737;
}

.addressRooms {
  color: #6d6d6d;
  font-family: Playfair Display;
  font-size: 16px;
  font-weight: 400;
  text-overflow: ellipsis;
  width: 300px;
  // white-space: wrap;
  white-space: nowrap;
  overflow: hidden;
  &:hover {
    white-space: wrap;
  }
}

.priceRooms {
  color: #373737;
  font-family: Crimson Text;
  font-size: 20px;
  font-weight: 400;
}

.codeRooms {
  color: #373737;
  // font-family: Segoe UI;
  font-size: 13px;
  font-weight: 400;
}

.btnRooms {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border-radius: 24px;
  border: 1px solid #373737;
  color: #373737;
  // font-family: Segoe UI;
  font-size: 14px;
  font-weight: 400;
}
