@import '../../styles/_variables.scss';

.oneRooms {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 24px;
}

.imgContainer {
  position: relative;
  width: 328px;
  height: 365px;
  @media screen and (min-width: $tablet) {
    width: 324px;
    height: 360px;
  }
  @media screen and (min-width: $desktop) {
    width: 300px;
    height: 333px;
  }
}

.img {
  -o-object-fit: cover;
  object-fit: cover;
}

.codeImg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 169px;
  text-align: center;
  color: $lightFontColor;
  font-size: 13px;
  font-weight: 700;
  background-color: $acentColor;
}

.apartContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 13px;
}

.addressRooms {
  color: #6d6d6d;
  // font-family: Playfair Display;
  font-size: 16px;
  font-weight: 400;
  text-overflow: ellipsis;
  width: 300px;
  // white-space: wrap;
  white-space: nowrap;
  overflow: hidden;
  // &:hover {
  //   white-space: wrap;
  // }
}

.priceRooms {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: $acentColor;
  font-family: Crimson Text;
  font-size: 20px;
  font-weight: 400;
}

.codeRooms {
  color: $acentColor;
  // font-family: Segoe UI;
  font-size: 13px;
  font-weight: 400;
}

.btnRooms {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border-radius: 24px;
  border: 1px solid $acentColor;
  color: $acentColor;
  // font-family: Segoe UI;
  font-size: 14px;
  font-weight: 400;
  &:hover,
  &:focus {
    background-color: #373737;
    color: #ffffff;
  }
}
