$mobile: "360px";
$tablet: "768px";
$desktop: "1366px";

$lightFontColor: white;
$darckFontColor: #242424;
$footerLogoColor: #545454;
$footerLocationColor: #181818;
$footerTextColor: #3c3c3c;
$acentColor: #373737;
