@import "../../../styles/_variables.scss";

.filterInputCheckbox {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 28px;
  height: 10px;
  background: #d1d1d6;
  border-radius: 50px;

  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;

  &::after {
    position: absolute;
    content: "";
    top: -3px;
    left: -3px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 8px 0px #00000029;
    box-shadow: 0px 2px 8px 0px #00000029;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
}

.filterInputCheckbox__Checked {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 28px;
  height: 10px;
  border-radius: 50px;

  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background: #373737;

  &::after {
    position: absolute;
    top: -3px;
    left: 50%;
    content: "";
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 8px 0px #00000029;
    box-shadow: 0px 2px 8px 0px #00000029;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
}

.filterItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filterCheckboxTitle {
  margin-right: 10px;

  color: #545454;
  font-family: Crimson Text;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media screen and (min-width: $tablet) {
    margin-right: 16px;
    font-size: 20px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 16px;
    font-size: 20px;
  }
}
