@import '../../../styles/variables';

.filterContainer {
  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -60%);
  }
}

.filterBtnContainer {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 16px;
  &:hover > .filterSvg {
    stroke: #cd5d12;
  }
  &:hover > .filter {
    color: #cd5d12;
  }
}

.filterSvg {
  width: 24px;
  height: 24px;
  stroke: $acentColor;
}

.filter {
  color: $acentColor;
  font-family: Crimson Text;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
