@import "../../styles/_variables.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  //   position: absolute;
  //   top: 40px;
}
.filterContainer {
  display: flex;
  //   justify-content: center;
  align-items: center;
}
.filterButtonClose {
  display: flex;
  border-radius: 50%;
  margin-left: auto;
  //   align-items: center;
  //   position: absolute;
  //   top: 39px;
  //   right: 64px;
}

.filterSvg {
  width: 24px;
  height: 24px;
  stroke: #373737;
}

.filterButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .filterNumberRoomsList {
//   display: flex;
//   justify-content: space-between;
// }

.filterAmenitisContainer {
  display: flex;
  justify-content: space-between;
}

// .filterInputCheckbox {
//   position: relative;
//   appearance: none;
//   width: 24px;
//   height: 10px;
//   background: #d1d1d6;
//   border-radius: 50px;

//   cursor: pointer;
//   transition: 0.4s;

//   &::after {
//     position: absolute;
//     content: "";
//     top: -3px;
//     left: -3px;
//     width: 16px;
//     height: 16px;
//     background: #fff;
//     border-radius: 50%;
//     box-shadow: 0px 2px 8px 0px #00000029;
//     transition: 0.4s;
//   }
// }

// .filterInputCheckbox__Checked {
//   position: relative;
//   appearance: none;
//   width: 24px;
//   height: 10px;
//   border-radius: 50px;

//   cursor: pointer;
//   transition: 0.4s;
//   background: #373737;

//   &::after {
//     position: absolute;
//     top: -3px;
//     left: 50%;
//     content: "";
//     width: 16px;
//     height: 16px;
//     background: #fff;
//     border-radius: 50%;
//     box-shadow: 0px 2px 8px 0px #00000029;
//     transition: 0.4s;
//   }
// }

.filterButtonSearch {
}
