@import "../../styles/_variables.scss";

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  // padding-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;

  opacity: 1;
  overflow: auto;
  -webkit-transition: height 0.5s linear, opacity 0.5s linear;
  -o-transition: height 0.5s linear, opacity 0.5s linear;
  transition: height 0.5s linear, opacity 0.5s linear;
  max-width: 330px;
  height: 300px;

  @media screen and (min-width: $tablet) {
    max-width: 680px;
    height: 220px;
  }

  @media screen and (min-width: $desktop) {
    // padding-top: 30px;
    margin-bottom: 30px;
    max-width: 757px;
    height: 230px;
  }
  &::-webkit-scrollbar {
    width: 0;
  }
}

.container__hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin-top: 0;
  margin-bottom: 0;
  -webkit-transition: height 0.5s linear, opacity 0.5s linear;
  -o-transition: height 0.5s linear, opacity 0.5s linear;
  transition: height 0.5s linear, opacity 0.5s linear;
  opacity: 0;
  height: 0;
  overflow: hidden;
  border: 0;
}
.filterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.filterButtonClose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  margin-left: auto;
}

.filterSvg {
  width: 24px;
  height: 24px;
  stroke: #373737;
}

.filterButtonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filterButtonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filterAmenitisContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  row-gap: 16px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 330px;

  @media screen and (min-width: $tablet) {
    max-width: 680px;
    row-gap: 18px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 757px;
  }
}

.filterSearchResetContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

.filterButtonSearch {
  padding: 8px 44px;
  color: #373737;
  font-size: 14px;
  // font-family: Segoe UI;
  font-weight: 400;
  word-wrap: break-word;

  border-radius: 24px;
  border: 1px #373737 solid;

  background-color: inherit;
  margin-top: 18px;

  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #373737;
    color: #fff;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 24px;
  }
}

.filterButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 21px;
  -moz-column-gap: 21px;
  column-gap: 21px;
  @media screen and (min-width: $tablet) {
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
  }
  @media screen and (min-width: $desktop) {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}
