@import '../../../styles/_variables.scss';

.container {
  display: flex;
  align-items: flex-start;
  margin-top: 110px;
  padding-bottom: 20px;
  @media screen and (min-width: $tablet) {
    margin-top: 80px;
  }
}

.toBackContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 13px;
  padding-left: 16px;
  @media screen and (min-width: $tablet) {
    padding-left: 48px;
  }
  @media screen and (min-width: 1366px) {
    padding-left: 75px;
  }
}

// .toBackText {
//   width: max-content;
//   color: #636363;
//   font-family: Crimson Text;
//   font-size: 10px;
//   font-weight: 400;
// }

.link {
  &:hover {
    color: #cd5d12;
  }
}

.contactsMap {
  width: 100vw;
  height: 427px;
  overflow: hidden;
  position: relative;
  border: none;
  margin-top: 24px;
  filter: grayscale(100%) invert(85%) contrast(100%);

  & iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    @media screen and (min-width: $tablet) {
      padding-left: 32px;
      padding-right: 32px;
    }
    @media screen and (min-width: 1024px) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  @media screen and (min-width: $tablet) {
    height: 404px;
  }
  @media screen and (min-width: 1024px) {
    height: 600px;
  }
}
