/* @import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Inter:wght@400;700&family=Jura:wght@500&display=swap"); */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  /* outline: red 1px solid; */
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  /* overflow-x: hidden; Викликає скрол при відкритій модалці! */
  /* font-family: "Inter", sans-serif; */
  font-family: var(--font--inter);
  /* font-family: "Crimson Text", serif; */
  --sb-track-color: #f3f3f3;
  --sb-thumb-color: #242424;
  --sb-size: 8px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
}

body,
main,
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

main,
header,
footer,
section {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* .visuallyHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
} */

.textLink {
  color: #636363;
  /* font-family: "Crimson Text"; */
  font-size: 10px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
}
@media screen and (min-width: 768px) {
  .textLink {
    font-size: 12px;
  }
}
@media screen and (min-width: 1366px) {
  .textLink {
    font-size: 14px;
  }
}

.textLinkAnimation {
  text-decoration: none;
  position: relative;
  outline: none;
}
/* .textLinkAnimation:hover.textLinkAnimation::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  animation: textLink 0.8s ease forwards;
  background-color: #6d6d6d;
}
@keyframes textLink {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
} */
.textLinkAnimation:hover.textLinkAnimation::after,
.textLinkAnimation:focus.textLinkAnimation::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-animation: textLink 0.8s ease forwards;
  animation: textLink 0.8s ease forwards;
  background-color: #6d6d6d;
}
@keyframes textLink {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

.activeLink {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  -webkit-text-decoration-color: rgba(36, 36, 36, 0.5);
  text-decoration-color: rgba(36, 36, 36, 0.5);
}

.active {
  position: relative;
}

.active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-animation: textLink 0.8s ease forwards;
  animation: textLink 0.8s ease forwards;
  background-color: #6d6d6d;
}
