@import "../../../styles/_variables.scss";

.container {
    display: flex;
    align-items: flex-start;
    margin-top: 100px;
    padding-bottom: 20px;

    @media screen and (min-width: $tablet) {
        margin-top: 106px;
    }

    @media screen and (min-width: 1366px) {
        margin-top: 145px;
    }
}

.toBackContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // column-gap: 13px;
    padding-left: 16px;
    margin-bottom: 22.5px;

    @media screen and (min-width: $tablet) {
        padding-left: 32px;
    }

    @media screen and (min-width: 1366px) {
        padding-left: 75px;
    }
}

.toBackText {
    width: max-content;
    color: #636363;
    font-family: Crimson Text;
    font-size: 10px;
    font-weight: 400;
}

.documentListThumb {
    margin: 0 auto;

    @media screen and (min-width: $tablet) {
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1366px) {
        padding-left: 75px;
        padding-right: 75px;
    }
}

.documentList {
    margin: 0 auto;

    @media (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        // margin-bottom: -24px;
        margin-left: -32px;

        @media (min-width: 1440px) {
            margin-left: -30px;
            // margin-bottom: -40px;
        }
    }
}

.documentItem {

    // padding: 36.5px 13px 36.5px 20px;
    // background-color: #D9D9D9;

    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
        flex-basis: calc(100% / 3 - 32px);
        margin-left: 32px;
    }

    @media (min-width: 1440px) {

        margin-left: 30px;
    }
}



.documentTop {
    width: 326px;
    height: 213px;
    background-color: #D9D9D9;

    @media (min-width: 768px) {
        width: 205px;
        height: 260px;

    }

    @media (min-width: 1440px) {
        width: 410px;
        height: 260px;

    }


}

.documentText {
    text-align: center;
}

.documentItem+.documentItem {
    // margin-top: 16px;

    @media (min-width: $tablet) {
        // margin-top: 0px;
        margin-left: 32px;
        // margin-bottom: 24px;
    }

    @media (min-width: 1440px) {
        // margin-top: 0px;
        margin-left: 30px;
        // margin-bottom: 24px;
    }


}