.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form {
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    padding: 20px;
    background-color: transparent;
    color: #bbb;
    border: 2px solid #bbb;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.registerBtn {
    padding: 20px;
    background-color: #53c28b;
    color: #eee;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}