@import "../../styles/_variables.scss";

.container {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 24px 16px;

  z-index: 10;

  @media screen and (min-width: $tablet) {
    padding: 12px 48px;
  }

  @media screen and (min-width: $desktop) {
    padding: 24px 75px;
  }
}

.scrolledBg {
  background-color: $lightFontColor;
}

.leftLinks,
.rightLinks {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 20px;
    z-index: 1;

    & a {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      // &:hover,
      // &:focus {
      //   text-decoration: underline;
      //   text-decoration-thickness: 2px;
      //   text-underline-offset: 4px;
      //   text-decoration-color: rgba(36, 36, 36, 0.5);
      // }
    }
  }

  @media screen and (min-width: 960px) {
    gap: 40px;
  }
}

.activeLink {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-decoration-color: rgba(36, 36, 36, 0.5);
}

.leftLinks {
  margin-left: 0;
  margin-right: auto;
  color: $darckFontColor;
}

.leftLinkLight {
  color: $lightFontColor;
}

.rightLinks {
  margin-right: 0;
  margin-left: auto;
  color: $darckFontColor;
}

.logoutBtn {
  margin-left: 20px;
  padding: 5px;
  z-index: 20;
  cursor: pointer;
  background-color: #53c28b;
  color: white;
  border-radius: 3px;
  border-color: transparent;
}

.headerLogoLight,
.headerLogo {
  width: 100%;
  position: absolute;
  margin-left: -16px;

  @media screen and (min-width: $tablet) {
    margin-left: -48px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: -75px;
  }
}

.headerLogoLight {
  color: $lightFontColor;

  @media screen and (min-width: $tablet) {
    & span {
      color: initial;
    }
  }
}

.mobileNavigation,
.mobileNavigationVisible {
  position: fixed;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-left: -16px;
  top: 64px;
  width: 100%;
  height: 1px;
  overflow: hidden;
  gap: 0px;

  color: $footerTextColor;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  & li {
    margin-top: 20px;
  }

  @media screen and (min-width: 425px) {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobileNavigationVisible {
  height: fit-content;
  padding-bottom: 20px;
  background-color: $lightFontColor;
}

.qwe {
  background-color: aqua;
  border: 2px solid red;
}

.iconBurgerDark,
.iconBurger {
  width: 22px;
  height: 12px;

  @media screen and (min-width: $mobile) {
    width: 40px;
    height: 24px;
  }
}

.iconBurgerDark {
  fill: $darckFontColor;
}

.iconBurger {
  fill: $lightFontColor;
}

.iconCloseDark,
.iconClose {
  width: 20px;
  height: 20px;

  @media screen and (min-width: $mobile) {
    width: 32px;
    height: 32px;
  }
}

.iconCloseDark {
  stroke: $darckFontColor;
}

.iconClose {
  stroke: $lightFontColor;
}