@import "../../styles/_variables.scss";

.container {
  position: fixed;
  z-index: 10;
}

.promotion {
  color: $darckFontColor;
  font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.04px;
  text-align: center;

  background: #e9e9e9;
  padding: 8px;
  @media screen and (min-width: $tablet) {
    font-weight: 600;
  }
  @media screen and (min-width: $desktop) {
    font-weight: 600;
    padding: 4px;
  }
}

.navBar {
  background-color: $lightFontColor;
  display: flex;
  align-items: center;
  padding: 16px 20px;
  height: 56px;

  & .logo {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;

    & span {
      color: $lightFontColor;
      background-color: $darckFontColor;
      padding: 4px;
      margin-right: 4px;
    }
  }

  @media screen and (min-width: $tablet) {
    padding: 28px 36px;
    height: 64px;
  }
  @media screen and (min-width: $desktop) {
    padding: 44px 86px;
    height: 120px;
  }
}

.leftLinks,
.rightLinks {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, -0.179rem + 2.976vw, 2.5rem);
  z-index: 1;

  & a {
    font-size: clamp(0.75rem, 0.179rem + 1.19vw, 1.25rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  // @media screen and (min-width: $desktop) {
  //   gap: 40px;
  // }
}

.activeLink {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-decoration-color: rgba(36, 36, 36, 0.5);
}

.leftLinks {
  margin-left: 0;
  margin-right: auto;
  color: $darckFontColor;
}

.rightLinks {
  margin-right: 0;
  margin-left: auto;
  color: $darckFontColor;
}

.logoutBtn {
  display: none;

  @media screen and (min-width: $desktop) {
    display: block;
    margin-left: 20px;
    padding: 5px;
    z-index: 20;
    cursor: pointer;
    background-color: #53c28b;
    color: white;
    border-radius: 3px;
    border-color: transparent;
  }
}

// .headerLogoLight,
// .headerLogo {
//   width: 100%;
//   position: absolute;
//   margin-left: -16px;

//   @media screen and (min-width: $tablet) {
//     margin-left: -48px;
//   }

//   @media screen and (min-width: $desktop) {
//     margin-left: -75px;
//   }
// }

// .headerLogoLight {
//   color: $lightFontColor;

//   @media screen and (min-width: $tablet) {
//     & span {
//       color: initial;
//     }
//   }
// }

.mobileNavigation,
.mobileNavigationVisible {
  flex-direction: column;
  align-items: center;
  padding: 0px;
  top: 64px;
  width: 100%;
  height: 1px;
  overflow: hidden;
  gap: 0px;

  color: $footerTextColor;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  & li {
    margin-top: 20px;
  }

  @media screen and (min-width: 425px) {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobileNavigationVisible {
  height: fit-content;
  padding-bottom: 20px;
  background-color: $lightFontColor;
  // animation: mobileNavigationVisible 2s linear 1s forwards;
}

@keyframes mobileNavigationVisible {
  to {
    height: fit-content;
    padding-bottom: 20px;
    background-color: $lightFontColor;
  }
}

// .qwe {
//   background-color: aqua;
//   border: 2px solid red;
// }

// .iconBurgerDark,
// .iconBurger {
//   width: 22px;
//   height: 12px;

//   @media screen and (min-width: $mobile) {
//     width: 40px;
//     height: 24px;
//   }
// }

// .iconBurgerDark {
//   fill: $darckFontColor;
// }

// .iconBurger {
//   fill: $lightFontColor;
// }

// .iconCloseDark,
// .iconClose {
//   width: 20px;
//   height: 20px;

//   @media screen and (min-width: $mobile) {
//     width: 32px;
//     height: 32px;
//   }
// }

// .iconCloseDark {
//   stroke: $darckFontColor;
// }

// .iconClose {
//   stroke: $lightFontColor;
// }
