@import '../../../styles/_variables.scss';

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 76px;
  @media screen and (orientation: landscape) {
    flex-direction: row;
  }
  @media screen and (min-width: $tablet) {
    padding-top: 58px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 78px;
  }
}

.roomsContainer {
  height: calc(100vh / 3);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  &:hover > .img {
    filter: none;
  }

  & img {
    object-fit: cover;
    object-position: center;
    filter: brightness(0.5);
  }

  &:nth-child(3) img {
    object-position: 0% 80%;
  }

  & h2 {
    filter: brightness(1);

    color: $lightFontColor;
    font-size: clamp(1.25rem, 0.893rem + 1.786vw, 2.5rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @media screen and (orientation: landscape) {
    height: 100%;
    width: calc(100vw / 3);
  }
}
