@import "../../../styles/_variables.scss";

.container {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  // padding: 0px 32px;
  padding: 40px 32px;
  color: $footerTextColor;

  @media screen and (min-width: $tablet) {
    display: flex;
  }
  @media screen and (min-width: $desktop) {
    padding: 48px 75px 42px;
  }
}

.tabletLinksWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  & p {
    color: $footerTextColor;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 28px;
    border-bottom: 1px solid #000;
  }
}

.footerLogo {
  font-size: 32px;
  margin-left: 0;
  margin-right: auto;
  color: $footerLogoColor;
}

.contentWrapper {
  display: flex;
  width: inherit;
  gap: 40px;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.leftContentWrapper {
  // max-width: 421px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.leftContentText {
  color: #bbbbbb;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
  // flex: 1;
}

.contacts {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  color: $footerLocationColor;
}

.rightContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1;
  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.navWrapper {
  width: 100%;
  display: flex;
  // gap: 40px;
  justify-content: space-around;
  @media screen and (min-width: $desktop) {
    gap: 90px;
  }
}

.FooterNavigation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: $footerTextColor;
}

.nav {
  flex-direction: column;
  & a {
    color: red;
  }
}

.btnsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-left: -12px;
  @media screen and (min-width: $desktop) {
    flex-direction: column;
    gap: 32px;
    align-items: flex-end;
    & a,
    & button {
      // display: flex;
      width: 183px;
      padding: 16px 40px;
      justify-content: center;
      align-items: center;
      gap: 24px;
      border-radius: 36px;
    }
  }
}

.bookBtn {
  margin-left: -48px;
}

.rights {
  color: $footerTextColor;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.webevery {
  width: 100vw;
  text-align: center;
  margin-top: -20px;
  padding: 8px;
  border-top: 1px solid rgb(84, 84, 84, 0.14);
}
