.ItemSliderBottom {
  width: 100%;
  height: 95px;
  margin-left: 0;
  margin-right: 0;
}

.ItemSliderBottom .swiper-slide {
  height: 95px;
  overflow: hidden;
}

.ItemSliderBottom .swiper-slide img {
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1366px) {
  .ItemSliderBottom {
    height: 170px;
  }
  .ItemSliderBottom .swiper-slide {
    height: 218px;
  }
}

@media screen and (min-width: 1500px) {
  .ItemSliderBottom {
    height: 180px;
  }
  .ItemSliderBottom .swiper-slide {
    height: 218px;
  }
}

@media screen and (min-width: 1920px) {
  .ItemSliderBottom {
    height: 218px;
  }
}
