@import "../../../styles/_variables.scss";

.swiperContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  // margin-bottom: 36px;
  width: 100%;
  min-width: 280px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 0px;
  }

  @media screen and (orientation: landscape) {
    flex: 1;
  }
}
