.ItemSliderBottom {
  width: 328px;
  height: 95px;
}

.ItemSliderBottom .swiper-slide {
  /* width: 104px; */
  height: 95px;
  overflow: hidden;
}

.ItemSliderBottom .swiper-slide img {
  height: 100%;
  width: auto;
}

@media screen and (min-width: 768px) {
  .ItemSliderBottom {
    width: 356px;
  }
}

@media screen and (min-width: 1366px) {
  .ItemSliderBottom {
    width: 600px;
    height: 150px;
  }
  .ItemSliderBottom .swiper-slide {
    height: 218px;
  }
}

@media screen and (min-width: 1920px) {
  .ItemSliderBottom {
    width: 770px;
    height: 218px;
  }
}

/* and (min-height: 1080px)  */
