@import "../../styles/_variables.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  color: $footerTextColor;
  border-top: 1px solid #000;
  background-color: #f3f3f3;
  overflow-x: hidden;

  & .footerLogo {
    color: $footerLogoColor;
    font-size: clamp(1rem, 0.714rem + 1.429vw, 2rem);
    margin-left: 0;
    margin-right: auto;
  }
  @media screen and (min-width: $tablet) {
    gap: 12px;
    padding: 12px 36px;
  }
  @media screen and (min-width: $desktop) {
    gap: 20px;
    padding: 24px 86px;
  }
}

.contentWrapper {
  display: flex;
  width: inherit;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.contacts,
.navigation {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: $footerLocationColor;
  font-size: clamp(0.5rem, 0.286rem + 1.071vw, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  & a {
    width: fit-content;
  }

  @media screen and (min-width: $tablet) {
    gap: 16px;
  }
  @media screen and (min-width: $desktop) {
    gap: 32px;
  }
}

.contacts {
  font-family: "Crimson Text";
}

.btnsWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;

  @media screen and (min-width: $tablet) {
    gap: 16px;
  }

  @media screen and (min-width: $desktop) {
    gap: 32px;
  }
}

.rights {
  color: $footerTextColor;
  font-family: "Crimson Text";
  font-size: clamp(0.5rem, 0.357rem + 0.714vw, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
