@import "../../styles/_variables.scss";

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  gap: 24px;
  padding: 8px 20px;
  color: $footerTextColor;
  border-top: 1px solid #000;
  background-color: #f3f3f3;
  overflow-x: hidden;

  & .footerLogo {
    color: $footerLogoColor;
    font-size: clamp(1rem, 0.714rem + 1.429vw, 2rem);
    margin-left: 0;
    margin-right: auto;
  }

  @media (max-width: 767px) {
    padding-top: 20px;

    & .mobileBtn {
      width: 100px;
      height: 24px;
    }
  }

  @media screen and (min-width: $tablet) {
    gap: 12px;
    padding: 12px 36px;
  }
  @media screen and (min-width: $desktop) {
    gap: 20px;
    padding: 24px 86px;
  }
}

.mobileContentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 12px;
  @media (max-width: 360px) {
    flex-direction: column;
    align-items: center;
  }
}

.mobileItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  & .footerLogo {
    font-size: 24px;
    line-height: 0.9;
  }

  & .mobileContacts {
    color: $footerLocationColor;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @media (max-width: 360px) {
    & .footerLogo {
      margin-left: auto;
    }
  }
}

.contentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts,
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;

  color: $footerLocationColor;
  font-size: clamp(16px, 2vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  & a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    gap: 16px;
  }
  @media screen and (min-width: $desktop) {
    gap: 32px;
  }
}

.contacts {
  // font-family: "Crimson Text";
  font-family: var(--font--crimsonPro);
}

.btnsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;

  @media screen and (max-width: 767px) {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  @media screen and (min-width: $tablet) {
    gap: 16px;
  }

  @media screen and (min-width: $desktop) {
    gap: 32px;
  }
}

.rights {
  color: $footerTextColor;
  // font-family: "Crimson Text";
  font-family: var(--font--crimsonPro);
  font-size: clamp(12px, 2vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
