@import "../../../../styles/_variables.scss";

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 103px 10px 10px;
  flex: 1;

  @media screen and (min-width: $tablet) {
    align-items: normal;
    justify-content: normal;
    gap: 50px;
    padding: 99px 20px 20px;
    width: 100%;
    flex: none;
  }

  @media screen and (min-width: $desktop) {
    gap: 100px;
    padding: 149px 40px 40px;
  }
}

.displaySizeMessage {
  width: 90%;
  font-size: clamp(16px, 4vw, 30px);
  font-weight: 700;
  color: red;
  text-align: center;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.apartment {
  display: none;

  @media screen and (min-width: $tablet) {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5px;
    margin: 20px 0px;
    padding: 10px;
    background-color: #8c878fd6;
    border-radius: 5px;
    border: 1px solid navy;
    width: 50vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.imgContainer {
  width: 300px;
  height: 150px;
  position: relative;
}

.img {
  -o-object-fit: cover;
  object-fit: cover;
}

.imgsWrapper {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.imgsItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.imgCont {
  width: 200px;
  height: 100px;
  position: relative;
}

.deleteIcon {
  width: 20px;
  height: 20px;
}

.deleteIcon:hover {
  cursor: pointer;
  fill: red;
}

.address {
  display: block;
  width: 40vw;
  overflow: hidden;
  white-space: nowrap;
}

.location {
  display: block;
  width: 40vw;
  overflow: hidden;
  white-space: nowrap;
}

.platformLink {
  display: block;
  width: 40vw;
  overflow: hidden;
  white-space: nowrap;
}

// .updatingForm {
//   display: none;

//   @media screen and (min-width: $tablet) {
//     -webkit-box-flex: 1;
//     -ms-flex: 1;
//     flex: 1;
//   }
// }