@import "../../../../../styles/_variables.scss";

.container {
  display: none;

  @media screen and (min-width: $desktop) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
    padding-top: 80px;
  }
}

.form {
  width: 300px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.input {
  padding: 20px;
  background-color: transparent;
  border: 2px solid #bbb;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.registerBtn {
  padding: 20px;
  background-color: #53c28b;
  color: #eee;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.loginBtn {
  padding: 5px;
  cursor: pointer;
}
