@import "../../../../../styles/_variables.scss";

.container {
    display: none;

    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-top: 80px;
    }
}

.form {
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    padding: 20px;
    background-color: transparent;
    // color: #bbb;
    border: 2px solid #bbb;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.registerBtn {
    padding: 20px;
    background-color: #53c28b;
    color: #eee;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.loginBtn {
    padding: 5px;
    cursor: pointer;
}