@import '../../../styles/variables';

.propositionContainer {
  margin-bottom: 20px;
  @media screen and (min-width: 1920px) {
    margin-bottom: 88px;
  }
}

.propositionTitle {
  color: $acentColor;
  font-family: Crimson Text;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;
  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: start;
  }
  @media screen and (min-width: 1366px) {
    font-size: 32px;
    margin-bottom: 32px;
  }
}

.propositionList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 16px;
  color: $footerLogoColor;
  font-family: Crimson Text;
  font-size: 16px;
  font-weight: 400;
  @media screen and (min-width: $tablet) {
    grid-row-gap: 14px;
    font-size: 14px;
  }
  @media screen and (min-width: 1366px) {
    font-size: 20px;
    grid-row-gap: 32px;
  }
  @media screen and (min-width: 1920px) {
  }
}

.propositionItem {
  display: flex;
  align-items: center;
}

.imgSvgContainer {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 16px;
  @media screen and (min-width: $tablet) {
    width: 24px;
    height: 24px;
  }
}

.imgSvg {
  object-fit: cover;
}
