@import '../../../styles/variables';

.propositionContainer {
  margin-bottom: 56px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 88px;
  }
}

.propositionTitle {
  color: $acentColor;
  font-family: Crimson Text;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;
  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: start;
  }
  @media screen and (min-width: 1280px) {
    font-size: 32px;
    margin-bottom: 32px;
  }
}

.propositionList {
  height: 111px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 8px;
  color: $footerLogoColor;
  font-family: Crimson Text;
  font-size: 16px;
  font-weight: 400;
  @media screen and (min-width: 1280px) {
    height: 174px;
    font-size: 20px;
    row-gap: 32px;
    column-gap: 16px;
  }
}

.propositionItem {
  display: flex;
  align-items: center;
}

.imgSvgContainer {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 27px;
  @media screen and (min-width: $tablet) {
    width: 24px;
    height: 24px;
  }
}

.imgSvg {
  object-fit: cover;
}
