@import '../../../styles/variables';

.dataList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  row-gap: 20px;
  // row-gap: 24px;
  @media screen and (min-width: $tablet) {
    align-items: flex-start;
  }
}

.dataText {
  color: #3c3c3c;
  font-family: Crimson Text;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  @media screen and (min-width: 1366px) {
    font-size: 24px;
  }
  &:first-child {
    width: max-content;
  }
  &:not(:last-child) {
    width: 264px;
    @media screen and (min-width: 1366px) {
      width: 436px;
    }
  }
}

.svgHash {
  width: 16px;
  height: 26px;
  margin-right: 16px;
  @media screen and (min-width: $tablet) {
    width: 20px;
    height: 20px;
  }
  @media screen and (min-width: 1366px) {
    margin-right: 24px;
    width: 24px;
    height: 24px;
  }
}

.googleMaps {
  display: flex;
  align-items: center;
  outline: none;
  @media screen and (min-width: 1366px) {
    align-items: flex-start;
    flex-direction: row-reverse;
  }
}

.imgContainer {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 43%;
    width: 3px;
    animation: shadowMob 2s infinite linear;
    transition: box-shadow 0.3s ease-in-out;
  }
  @media screen and (min-width: $tablet) {
    width: 24px;
    height: 24px;
    &::before {
      left: 38%;
      width: 5px;
      animation: shadow 2s infinite linear;
    }
  }
  @media screen and (min-width: 1366px) {
    margin-right: 24px;
    height: 32px;
    width: 32px;
  }
}

@keyframes shadowMob {
  0%,
  100% {
    box-shadow: 0px 5px 3px 1px #4343436c;
  }
  50% {
    box-shadow: 0px 5px 4px 2px #4343436c;
  }
}

@keyframes shadow {
  0%,
  100% {
    box-shadow: 0px 9px 4px 1px #4343436c;
  }
  50% {
    box-shadow: 0px 9px 5px 2px #4343436c;
  }
}

.img {
  width: 16px;
  height: 16px;
  stroke: #6d6d6d;
  fill: none;
  // object-fit: contain;
  animation: spin 2s infinite linear;
  @media screen and (min-width: $tablet) {
    width: 20px;
    height: 20px;
  }
  @media screen and (min-width: 1366px) {
    width: 24px;
    height: 24px;
  }
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10%);
  }
}

.googleMapsText {
  position: relative;
  outline: none;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  text-decoration-color: #373737;
  color: #373737;
  @media screen and (min-width: 1366px) {
    text-underline-offset: 6px;
  }
}
// .svgMap {
//   width: 16px;
//   height: 16px;
//   stroke: #6d6d6d;
//   fill: none;
//   margin-right: 16px;
//   @media screen and (min-width: $tablet) {
//     width: 20px;
//     height: 20px;
//   }
//   @media screen and (min-width: 1366px) {
//     margin-right: 24px;
//     width: 24px;
//     height: 24px;
//   }
// }

.dataTextPrice {
  position: absolute;
  top: 0;
  right: 28px;
  color: $acentColor;
  font-size: 20px;
  @media screen and (min-width: 1366px) {
    right: 0;
    position: static;
    font-size: 32px;
  }
}
